#mainContainer{width: 100%; height: 100%; margin: 0px; padding: 0px;}

.acc-expand-bkgs {
	 background-color: #E5E4E5;
	 background-image: url(data:image/gif;base64,R0lGODlhBAAEAJEAAOfk59nX2czIzOXk5SH5BAAAAAAALAAAAAAEAAQAAAIHxCQzEaisCgA7);
	 background-repeat: repeat;
	 background-position: 0 0;
	 -moz-box-shadow: inset -5px 5px 5px #888,inset 0 -5px 5px #888;
	-webkit-box-shadow: inset 0 5px 5px #888,inset 0 -5px 5px #888;
	 box-shadow: inset 0 -3px 8px #888,inset 0 3px 8px #888;
}
.acc-expand {
	 background-color: #E5E4E5;
	/*  -moz-box-shadow: inset -5px 5px 5px #888,inset 0 -5px 5px #888;
	-webkit-box-shadow: inset 0 5px 5px #888,inset 0 -5px 5px #888;
	 box-shadow: inset 0 -3px 8px #888,inset 0 3px 8px #888; */
}

#breadCrumbs{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAFCAIAAADDivseAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNqUzMsJwEAIBFAHBEG3/4JszKj7IewhEE+OPoW7059iEflYgyiuA1UFsFLENugu1hVykSlS8hijSU1THULzN3pQMn0pNjOaf3ddKdUr0iPAAEncGtR4/DL+AAAAAElFTkSuQmCC) repeat-x; padding:0px;}
.breadcrumb {font-size:10px; color:#666; padding:3px 0px 0px 10px; text-align:left;}
.breadcrumb a:link, .breadcrumb a:visited {font-size:10px; color:#0066CC; text-decoration:none;}
.breadcrumb a:hover, .breadcrumb a:active {text-decoration:underline;}
.text-text-area {background: url(data:image/gif;base64,R0lGODlhBADIAKIAAObm5/r6+vDw8evr7OHh4vX19f///wAAACH5BAAAAAAALAAAAAAEAMgAAAMpSErQMHCIKYotIQfDu/9gKI5kaZ5oqq5s675wLM90bd94ru987//AXgIAOw==) repeat-x scroll left top #FFFFFF; border: 1px solid #CCCCCC; color: #000000;font-size: 12px; padding-left: 2px;}
.required_span {color: #FF0000; font-size: 14px;}
.item_label{font-weight: bold; float:left; text-align:left; width:100%;}
.phone_input {margin-right: 10px;width: 35px;}
.input_visible{ display: inline; width: 164px;}
.input_visible{ height:16px;}
.rf-tbp {background-color: #141414;}
.rich-tabhdr-side-border {border: 1 px #FFFFFF;}
.rich-tab-active {color: #000000;background-color: #141414;border-color: #FFFFFF;border: 1px;}
.rf-tbp {font-family: serif;font-size: 22pt;color:#FFFFFF;background-color: #000000 ;}

#leftnav{background:url(../resources/images/leftnav/leftnav_filler.png) repeat-y; font-size:11px;	float:left; padding:0; width:175px; z-index:1; margin:0px}
#leftnav #top {background:url(../resources/images/leftnav/leftnav_top.png) no-repeat; padding:10px 4px 10px 0px;}
#leftnav #top h1{border-top:none; color:#F00; font-size:14px; font-weight:bold; margin:5px 10px 0px 10px; padding:0;}
#leftnav h1{border-top:1px solid #CCC; color:#F00; font-size:14px; font-weight:bold; margin:5px 10px 10px 10px; padding:10px 0px 0px 0px;}
#leftnav .content{padding:0px 4px 3px 0px;}
#leftnav ul{list-style-type:none; margin:0px 10px 0px 0px; padding:0px 0px 0px 0px;}
#leftnav ul li{background:none; line-height:12px; margin:0px 0px 10px 2px;}
#leftnav .active a{color:#F00; cursor:default; text-decoration:none;}
#leftnav #bottom{background:url(../resources/images/leftnav/leftnav_btm.png) no-repeat left bottom; height:12px; #height:12px; margin:0px; padding:0px;}

#pagecontent{padding:0px 4px 3px 10px;}

.rf-item-bg {background: url('../resources/images/globalnav/globalnav_top_level_dropdown_top.gif') 0 0 repeat-x; border: 1px solid #141414; background-color: #E8E8E8; border: 1px solid #C0C0C0; cursor: pointer; padding: 1px 36px 2px 2px; z-index: 10;}
.rf-menuitem-lst-bg {background: url('../resources/images/globalnav/globalnav_second_level_bknd.gif') 0 0 repeat-x; border: 1px solid #141414; background-color: #E8E8E8; border: 1px solid #C0C0C0; cursor: pointer; padding: 1px 36px 2px 2px; z-index: 10;}
